# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
lib/generated_plugin_registrant.dart

# Exceptions
!/pubspec.yaml
!/README.md

# IDEs and editors
.idea/
.vscode/
*.iml

# macOS
*.DS_Store

# Windows
Thumbs.db
